@import './mixins.scss';
@import '~react-responsive-carousel/lib/styles/carousel.min.css';

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hover-color-primary {
    @include hover-color-primary;
}
